.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.header {
  color: white;
  font-size: 40px;
  position: fixed;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 400px;
  top:0;
}

h1 {
  padding-top: 95px
}